@model WebTrangSuc.Models.TinTuc
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_TaiKhoanLayout.cshtml";
}
@section Styles {
    <link href="~/Content/TinTuc.css" rel="stylesheet" />
}

<section class="news-section">
    <center>
        <h2>TIN TỨC</h2>
    </center>
    <div class="news-container">
        <!-- Tin tức 1 -->
        <div class="news-item">
            <a href="https://thanhnien.vn/malaysia-ra-mat-2-cau-thu-nhap-tich-quan-tam-dac-biet-doi-tuyen-viet-nam-18525032509360628.htm" target="_blank">
                <img src="~/images/news/new1.png" alt="Malaysia ra mắt 2 cầu thủ nhập tịch, quan tâm đặc biệt đội tuyển Việt Nam">
            </a>
            <p class="news-date">Thứ Năm, 14/03/2025</p>
            <h3>
                <a href="https://thanhnien.vn/malaysia-ra-mat-2-cau-thu-nhap-tich-quan-tam-dac-biet-doi-tuyen-viet-nam-18525032509360628.htm" target="_blank">
                    Malaysia ra mắt 2 cầu thủ nhập tịch, quan tâm đặc biệt đội tuyển Việt Nam
                </a>
            </h3>
            <p class="news-summary">
                Đội tuyển Malaysia chính thức ra mắt 2 cầu thủ nhập tịch mới là Hector Havel và Gabriel Palmero, họ sẽ góp mặt
                ở trận gặp đội Nepal lúc 21 giờ ngày 25.3 tại vòng loại 3 Asian Cup 2027. Cùng ngày, đội tuyển Việt Nam gặp Lào.
            </p>
        </div>

        <!-- Tin tức 2 -->
        <div class="news-item">
            <a href="https://thanhnien.vn/ngoi-vuong-cua-apple-va-samsung-lung-lay-boi-xiaomi-185250325102402383.htm" target="_blank">
                <img src="~/images/news/new2.png" alt="anh1">
            </a>
            <p class="news-date">Thứ Năm, 15/03/2025</p>
            <h3>
                <a href="https://thanhnien.vn/ngoi-vuong-cua-apple-va-samsung-lung-lay-boi-xiaomi-185250325102402383.htm" target="_blank">
                    Ngôi vương của Apple và Samsung lung lay bởi Xiaomi
                </a>
            </h3>
            <p class="news-summary">
                Xiaomi đang khẳng định vị thế của mình trong ngành công nghệ khi chỉ đứng sau Apple và Samsung về doanh số smartphone toàn cầu.
            </p>
        </div>

        <!-- Tin tức 3 -->
        <div class="news-item">
            <a href="https://thanhnien.vn/can-than-khi-mua-apple-watch-cu-185250324130936393.htm" target="_blank">
                <img src="~/images/news/new3.png" alt="anh2">
            </a>
            <p class="news-date">Thứ Năm, 14/04/2025</p>
            <h3>
                <a href="https://thanhnien.vn/can-than-khi-mua-apple-watch-cu-185250324130936393.htm" target="_blank">
                    Cẩn thận khi mua Apple Watch cũ
                </a>
            </h3>
            <p class="news-summary">
                Khi quyết định mua một sản phẩm Apple cũ, người tiêu dùng có nhiều lựa chọn, từ iPhone, Mac, iPad đến Apple Watch.
            </p>
        </div>

        <!-- Tin tức 4 -->
        <div class="news-item">
            <a href="https://thanhnien.vn/trung-quoc-tao-dot-pha-trong-cong-nghe-quang-khac-ban-dan-185250324084915618.htm" target="_blank">
                <img src="~/images/news/new4.png" alt="anh3">
            </a>
            <p class="news-date">Thứ Năm, 14/05/2025</p>
            <h3>
                <a href="https://thanhnien.vn/malaysia-ra-mat-2-cau-thu-nhap-tich-quan-tam-dac-biet-doi-tuyen-viet-nam-18525032509360628.htm" target="_blank">
                    Công nghệ Tin tức công nghệ Trung Quốc tạo đột phá trong công nghệ quang khắc bán dẫn
                </a>
            </h3>
            <p class="news-summary">
                Các nhà khoa học Trung Quốc vừa công bố một phát minh quan trọng có thể mở ra nhiều đột phá về quang khắc bán dẫn và nhiều công nghệ khác.
            </p>
        </div>


        <!-- Tin tức 5 -->
        <div class="news-item">
            <a href="https://thanhnien.vn/bau-troi-ha-noi-mo-duc-trong-ngay-o-nhiem-khong-khi-nhat-the-gioi-185250325180539514.htm" target="_blank">
                <img src="~/images/news/new5.png" alt="anh4">
            </a>
            <p class="news-date">Thứ Năm, 24/02/2025</p>
            <h3>
                <a href="https://thanhnien.vn/malaysia-ra-mat-2-cau-thu-nhap-tich-quan-tam-dac-biet-doi-tuyen-viet-nam-18525032509360628.htm" target="_blank">
                    Bầu trời Hà Nội mờ đục trong ngày ô nhiễm không khí nhất thế giới
                </a>
            </h3>
            <p class="news-summary">
                Trong ngày 25.3, tình trạng ô nhiễm không khí ở Hà Nội thường xuyên ở mức báo động đỏ
            </p>
        </div>

        <!-- Tin tức 6 -->
        <div class="news-item">
            <a href="https://thanhnien.vn/hiep-hoi-du-lieu-quoc-gia-ra-mat-day-manh-phat-trien-kinh-te-so-1852503220942339.htm" target="_blank">
                <img src="~/images/news/new6.png" alt="anh5">
            </a>
            <p class="news-date">Thứ Năm, 17/03/2025</p>
            <h3>
                <a href="https://thanhnien.vn/hiep-hoi-du-lieu-quoc-gia-ra-mat-day-manh-phat-trien-kinh-te-so-1852503220942339.htm" target="_blank">
                    Hiệp hội Dữ liệu Quốc gia ra mắt, đẩy mạnh phát triển kinh tế số
                </a>
            </h3>
            <p class="news-summary">
                Hiệp hội Dữ liệu Quốc gia (National Data Association - NDA) ra mắt nhằm xây dựng hệ sinh thái dữ liệu quốc gia vững mạnh, góp phần thúc đẩy phát triển kinh tế số.
            </p>
        </div>




        <!-- Pagination -->
</section>
