@{
    ViewBag.Title = "Thanh Toán Thành Công";
    Layout = "~/Views/Shared/_TaiKhoanLayout.cshtml";
}

<div class="thank-you-container">
    <h2>Cảm ơn bạn đã đặt hàng!</h2>
    <p>Chúng tôi sẽ liên hệ với bạn để xác nhận đơn hàng sớm nhất.</p>
    <a href="@Url.Action("Home", "Home")" class="btn btn-primary">Tiếp tục mua sắm</a>
</div>
